:root {
  --default-fonts: 'Rubik', system-ui, sans-serif;
  --mono-fonts: 'Martian Mono', 'Monaco', monospace;

  --color-shade25: oklch(25% 0 0);
  --color-shade40: oklch(40% 0 0);
  --color-shade80: oklch(80% 0 0);
  --color-shade92: oklch(92% 0 0);
  --color-shade96: oklch(96% 0 0);
  --color-shade98: oklch(98% 0 0);
}

html {
  min-height: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: var(--default-fonts);
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-shade98);
};
