---
import { categories } from '../../../constants';
import SiteIcon from '@components/navigation/SiteIcon.astro';

const { categories: categoryName = '' } = Astro.params;
---

<nav>
  <ul class='list'>
    <li class={`listItem${categoryName === '' ? ' isActive' : ''}`}>
      <a class='link' href='/'><SiteIcon /> 首頁</a>
    </li>
    {
      categories.map(({ name, label }) => (
        <li class={`listItem${name === categoryName ? ' isActive' : ''}`}>
          <a class='link' href={`/${name}`}>
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang='scss'>
  // nav {
  //   padding-inline-start: 1.6rem;
  //   padding-inline-end: 1.6rem;
  // }

  .list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(max-content, auto);
    gap: 1.2rem;
    margin-block: 0;
    padding-inline-start: 1.6rem;
    padding-inline-end: 1.6rem;
    padding-block: 1.2rem;
    overflow-x: auto;

    @media screen and (min-width: 992px) {
      grid-auto-flow: row;
    }
  }

  .listItem {
    margin-inline-start: -0.8rem;
    // padding-block: 0.6rem;
    padding-inline-start: 1.2rem;
    list-style-type: none;
    border-radius: 0.6rem;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;

    &:hover {
      border-color: var(--colorShade92);
    }

    &.isActive {
      background-color: var(--colorShade92);
      border-color: var(--colorShade92);

      .link {
        pointer-events: none;
      }
    }
  }

  .link {
    display: block;
    padding-block: 0.8rem;
    padding-inline-end: 1.2rem;
    color: var(--colorShade40);
    font-size: 1.6rem;
    line-height: 2;
    letter-spacing: 0.1rem;
    text-decoration: none;
  }
</style>
