---
import { categories } from '../../../constants';

const { categories: categoryName } = Astro.params;
---

<nav>
  <ul class='list'>
    {
      categories.map(({ name, label }) => (
        <li class={`listItem${name === categoryName ? ' isActive' : ''}`}>
          <a class='link' href={`/${name}`}>
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang='scss'>
  .nav {
    // margin-block-end: 1.5rem;
    // padding-inline-start: 1rem;
    // padding-inline-end: 1rem;
  }

  .list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(max-content, auto);
    gap: 1.2rem;
    margin-block: 0;
    padding-inline-start: 0;
    padding-inline-end: 1.6rem;
    overflow-x: auto;
  }

  .listItem {
    padding-block: 1.2rem;
    list-style-type: none;
  }

  .link {
    display: inline-block;
    padding-block: 0.6rem;
    color: var(--color-shade40);
    font-size: 2rem;
    text-decoration: none;
  }
</style>
