---
import SiteIcon from '@components/navigation/SiteIcon.astro';
import { query } from '@queries/categories';
const response = await fetch(import.meta.env.SANITY_API_URL,
  {
    method: 'POST',
    headers: {
      Authorization: `bearer ${import.meta.env.SANITY_API_KEY}`,
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ ...query }),
  }
);

type categoryProps = {
  slug: {
    current: string;
  };
  title: string;
};
const json = await response.json();
const { allCategory } = json.data;


const { categories: categoryName = '' } = Astro.params;
---

<nav>
  <ul class='list'>
    <li class={`listItem${categoryName === '' ? ' isActive' : ''}`}>
      <a class='link' href='/'><SiteIcon /> 首頁</a>
    </li>
    {
      allCategory.map(({ slug, title }: categoryProps) => (
        <li class={`listItem${slug.current === categoryName ? ' isActive' : ''}`}>
          <a class='link' href={`/${slug.current}`} data-astro-reload>
            {title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang="scss">
  .list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(max-content, auto);
    gap: 1.2rem;
    margin-block: 0;
    padding-inline-start: 1.6rem;
    padding-inline-end: 1.6rem;
    padding-block: 1.2rem;
    overflow-x: auto;

    @media screen and (min-width: 992px) {
      grid-auto-flow: row;
    }
  }

  .listItem {
    margin-inline-start: -0.8rem;
    // padding-block: 0.6rem;
    padding-inline-start: 1.2rem;
    list-style-type: none;
    border-radius: 0.6rem;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;

    &:hover {
      border-color: var(--colorShade88);
    }

    &.isActive {
      background-color: var(--colorShade88);
      border-color: var(--colorShade88);

      .link {
        pointer-events: none;
      }
    }
  }

  .link {
    display: block;
    padding-block: 0.8rem;
    padding-inline-end: 1.2rem;
    color: var(--colorShade40);
    font-size: 1.6rem;
    line-height: 2;
    letter-spacing: 0.1rem;
    text-decoration: none;
  }
</style>
