---
// import { categories } from '../../../constants';
import { getCollection } from 'astro:content';

const { categoryName } = Astro.props;

const slugItems = await getCollection(categoryName);
---

<nav>
  <ul class='list'>
    {
      slugItems.map(({ slug, data }) => (
        <li class='listItem'>
          <a class='link' href={`/${categoryName}/${slug}`}>
            {data.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang='scss'>
  nav {
    margin-inline: -1.6rem;
    padding-inline-start: 1.6rem;
    border-bottom: 1px solid var(--color-shade92);

    @media screen and (min-width: 992px) {
      margin-inline: 0;
      padding-inline-end: 1.6rem;
      border-right: 1px solid var(--color-shade92);
      border-bottom: none;
    }
  }

  .list {
    display: grid;
    grid: auto-flow auto / repeat(2, 240px);
    gap: 1.2rem;
    overflow-x: auto;
    margin-block: 0;
    padding-inline-start: 0;
    padding-block-end: 1.2rem;

    @media screen and (min-width: 992px) {
      grid: auto-flow / 240px;
      overflow-x: initial;
      overflow-y: auto;
      padding-block-start: 2rem;
      padding-block-end: 0;
    }
  }

  .listItem {
    padding-inline-end: 0.4rem;
    list-style-type: none;
  }

  .link {
    display: inline-block;
    padding-block: 8px;
    color: var(--color-shade40);
    font-size: 1.6rem;
    line-height: 1.5;
    text-decoration: none;
  }
</style>
