.formLayout {
  @media screen and (min-width: 992px) {
    display: grid;
    grid: auto auto / 400px 1fr;
    column-gap: 1.2rem;
  }
}

.label {
  display: inline-block;
  margin-block-end: 1.2rem;
  font-size: 1.8rem;
}

.action {
  display: grid;
  grid: auto / auto auto;
  margin-inline-end: -1.2rem;

  @media screen and (min-width: 992px) {
    display: initial;
    // text-align: initial;
  }

  &Button {
    text-align: right;

    @media screen and (min-width: 992px) {
      text-align: initial;
    }
  }
}

.submit {
  padding-inline: 1.6rem;
  font-size: 1.6rem;
  line-height: 3;
  background-color: var(--colorShade88);
  border: 0;
  border-radius: 0.8rem;
}

.sentMagic,
.promise {
  margin-block: 0;
  font-size: 1.4rem;
}

.promise {
  @media screen and (min-width: 992px) {
    display: none;
  }
}
