.input {
  display: block;
  width: 100%;
  margin-block-end: 1.2rem;
  padding-inline: 0.8rem;
  font-size: 1.6rem;
  line-height: 3;
  background-color: var(--colorShade96);
  border: 0;
  border-radius: 0.8rem;

  @media screen and (min-width: 992px) {
    display: inline-block;
    margin-inline-start: -0.8rem;
  }
}

.error {
  font-size: 1.4rem;
}
