---
---

<footer>
  <a href="https://read.cv/ymcheung" target="_blank" rel="noopener">@ymcheung</a> 製作 (2023)
</footer>
<style lang='scss'>
  footer {
    padding: 1.6rem;
    color: var(--color-shade40);
    font-size: 1.6rem;

    @media screen and (min-width: 992px) {
      grid-area: footer;
      border-top: 1px solid var(--color-shade92);
    }
  }
</style>
