---

---

<footer>
  <div class="layout">
    <span class="text">
      <a
        class="link"
        href="https://read.cv/ymcheung"
        target="_blank"
        rel="noopener"
      >@ymcheung</a>
      製作
      <span class="year">2023</span>
    </span>
    <span class="text sm">
      使用
      <a
        class="link"
        href="https://thenounproject.com/icon/cat-4670212/"
        target="_blank"
        rel="noopener"
        >Gregor Cresnar
      </a> 繪製的圖示，CCBY 3.0
    </span>
  </div>
</footer>
<style lang='scss'>
  footer {
    padding: 1.6rem;
    line-height: 1.5;
    border-top: 1px solid var(--colorShade92);

    @media screen and (min-width: 992px) {
      grid-area: footer;
    }
  }

  .text {
    display: block;
    margin-block: 0 1.2rem;
    color: var(--color-shade40);
    font-size: 1.6rem;

    &:last-child {
      margin-block-end: 0;
    }

    &.sm {
      font-size: 1.4rem;
      line-height: 24px;
    }
  }

  .year {
    display: inline-block;
    padding-block: 4px;
    padding-inline: 4px;
    font-size: 1.4rem;
    line-height: 1;
    border: 1px solid var(--colorShade80);
    border-radius: 4px;
  }

  .link {
    display: inline-block;
    color: var(--color-shade40);
    font-size: inherit;
    text-decoration: none;

    &:hover {
      color: var(--colorShade25);
      text-decoration: underline;
    }
  }
</style>
