---
---

<nav class='nav'>
  <ul class='list'>
    <li class='listItem'><a class='link'>收納</a></li>
    <li class='listItem'><a class='link'>廚房餐具</a></li>
    <li class='listItem'><a class='link'>清潔</a></li>
    <li class='listItem'><a class='link'>衣著</a></li>
    <li class='listItem'><a class='link'>裝飾</a></li>
    <li class='listItem'><a class='link'>戶外</a></li>
    <li class='listItem'><a class='link'>文具</a></li>
    <li class='listItem'><a class='link'>還沒分類</a></li>
  </ul>
</nav>

<style lang='scss'>
  .nav {
    margin-block-end: 1.5rem;
    // padding-inline-start: 1rem;
    // padding-inline-end: 1rem;
  }

  .list {
    padding-inline-start: 0;
  }

  .listItem {
    list-style-type: none;
  }

  .link {
    font-size: 1.5rem;
  }
</style>
