---
import { categories } from '../../constants';
---

<nav class='nav'>
  <ul class='list'>
    {categories.map(({ name, label}) =>
      <li class='listItem'><a class='link' href={`/${name}`}>{label}</a></li>
    )}
  </ul>
</nav>

<style lang='scss'>
  .nav {
    margin-block-end: 1.5rem;
    // padding-inline-start: 1rem;
    // padding-inline-end: 1rem;
  }

  .list {
    display: grid;
    padding-inline-start: 0;
  }

  .listItem {
    list-style-type: none;
  }

  .link {
    font-size: 1.5rem;
  }
</style>
