---
export const prerender = false;
---

<!doctype html>
<html lang="zh-TW">
  <head>
  </head>
  <body>
    <main class="container">
      <slot />
    </main>
    <style lang="scss">
      .container {
        max-width: 672px;
        margin-inline: auto;
      }
    </style>
  </body>
</html>
