---
import { SITENAME } from '../../constants';
import 'node_modules/normalize.css/normalize.css';
import '@styles/global.scss';
import '@fontsource-variable/rubik';
import BaseHead from '@components/BaseHead.astro';
import CategoriesNavigation from '@components/navigation/Categories.astro';

interface Props {
  title: string;
  description: string;
  dateModified: string;
  datePublished: string;
}

const { title, description, dateModified, datePublished } =
  Astro.props as Props;
---

<!DOCTYPE html>
<html lang='zh-TW'>
  <head>
    <BaseHead
      title={title}
      description={description}
      dateModified={dateModified}
      datePublished={datePublished}
    />
  </head>
  <body class='home'>
    <header>
      <CategoriesNavigation />
    </header>
    <main>
      <slot />
    </main>
    <style lang='scss'>
      header {
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
      }

      main {
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
      }
    </style>
  </body>
</html>
